<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>
        Author: {{user_id.name}} Posted on: {{format_date date_created}}
    </p>
    <p>
        <button class="btn btn-comment">Add comment.</button>
    </p>
</div>
